@charset "UTF-8";

@font-face {
    font-family: rings;
    src: url(../Fontes/Oldenburg-Regular.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

:root {
    /*colors(#DAAB4C-#BF8C24-#9E6F0E-#7A5200-#503500)*/
    --cor5: #07062c;
    --cor4: #504821;
    --cor3: #dda534;
    --cor2: #1d1506;
    --cor1: #2600ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 1em;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    background-image: url(../Imagens/background/body-layout.jpg);
}

header {
    position: relative;
    padding: 2em 0em 4em 0em;
    max-height: 1.7em;

}

main {
    overflow: hidden;
    border-radius: 15px;
    border: 7px solid #dda534;
    width: 80%;
    margin: auto;
    background: #3a3a3af3;
}

h1 {
    text-align: center;
    max-width: 50em;
}

h2 {
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    color: var(--cor3);
}

h3 {
    color: var(--cor3);
    text-decoration: underline;
    text-align: left;
}

p {
    max-width: 100%;
    color: #ffd88a;
}

div>p {
    text-shadow: 2px 2px 4px #181818;
}

a {
    color: #d4d4d4;
    text-decoration: none;
}

footer {
    border-top: 10px solid #ffaa00;
    padding: 10px;
    background-color: #dda534ce;
}

footer>p {
    color: #221700;
}

footer>ul>li {
    margin-left: 20px;
}

span {
    color: #ffaa00;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

#logot {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 200px;
}

/*container pai, de align1 ao align8*/
.secrel {
    position: relative;
    /*Para posicioar nav(paginas)*/
}

.align1 {
    /*caixa do topo dentro da main*/
    padding: 10px;
    background-image: linear-gradient(to right, #ffaa003d 10%, #ffaa0000 60%);
    margin-bottom: 30px;
}

#m_leitura {
    text-align: right;
    font-size: 20px;
    padding: 3px;
    height: 43px;
    line-height: 1px;
    border-radius: 10px;
    color: #ffce6b;
    background-color: #946810;
    border: 3px solid #503605;
}

#m_leitura:hover {
    background-color: #6d4905;
}

/*box de links PAGINAS*/
.navprin {
    padding: 20px;
    border-radius: 20%;
    text-shadow: 1px 1px 2px black;
    border: 2px solid #dda534;
    background-image: linear-gradient(to right, #ffaa003d 10%, #ffaa0000 80%);
    color: #dda534;
    position: absolute;
    top: 6px;
    left: 60vw;
}

.navprin_h1 {
    color: #ffd88a;
}

.navprin_ol {
    display: none;
    overflow-y: scroll;
    height: 350px;
    margin-top: 3.5vw;
    list-style-position: inside;
    text-align: center;
    color: #dda534;
}

.navprin:hover>ol {
    /*Revela/lista de paginas*/
    display: block;
}

.navprin_ol>a {
    margin: 2px 0px 2px 0px;
    background-color: #dda534;
    color: black;
}

.navprin_ol>a>li {
    color: #f1f1f1;
    padding: 7px;
    border-radius: 10px;
    margin: 7px 5px 5px 5px;
    background-color: #dda534;
}

.navprin:hover {
    border-radius: 0;
}

/*caixas das poesias*/
.align2 {
    margin: auto;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align4 {
    background-image: url(../Imagens/background/corvo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    box-shadow: inset 0px 0px 10px 5px #0f0f0f;
    margin: auto;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align41 {
    padding: 10px;
    text-shadow: 2px 2px 4px black;
    width: 70%;
    background-color: #202020db;
}

.align5 {
    margin-bottom: 50px;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align6 {
    box-shadow: inset 0px 0px 10px 5px black;
    background-image: url(../Imagens/background/corvo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    margin: auto;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align61 {
    padding: 10px;
    text-shadow: 2px 2px 4px black;
    width: 70%;
    background-color: #202020db;
}

.align7 {
    box-shadow: inset 0px 0px 10px 5px black;
    background-image: url(../Imagens/background/corvo3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align71 {
    padding: 10px;
    text-shadow: 2px 2px 4px black;
    width: 70%;
    background-color: #202020db;
}

.align8 {
    box-shadow: inset 0px 0px 10px 5px black;
    background-image: url(../Imagens/background/corvo4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    margin: auto;
    width: 80%;
    height: 90%;
    white-space: pre-line;
    padding-left: 10px;
    margin-bottom: 50px;
}

.align81 {
    padding: 10px;
    text-shadow: 2px 2px 4px black;
    width: 70%;
    background-color: #202020db;
}

.align2, .align4, .align3, .align5, .align6, .align7, .align8 {
    text-shadow: 2px 2px 4px black;
    background-color: #474747;
    margin: auto;
    margin-bottom: 50px;
    height: auto;
    white-space: pre-line;
    padding: 20px;
}

/*caixa links(anterior/proximo/paginaprincipal*/
#link_pai {
    margin: 20px;
}

.link {
    background-color: #3a3a3abd;
    border: 5px solid #dda534;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px black;
    width: 250px;
    height: 150px;
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: var(--cor3);
}

/*Anterior/proximo*/
#link1,
#link2 {
    color: #ffb82b;
    background-color: #946810;
    border: 5px solid #503605;
    padding: 10px;
}

/*Pagina principal*/
#pprinc {
    text-align: center;
    width: 150px;
    color: #ffb82b;
    background-color: #946810;
    border: 5px solid #503605;
    height: 50px;
    line-height: 25px;
    padding: 5px;
}

#link1:active,
#link2:active,
#pprinc:active {
    color: #d69b24;
    background-color: #7c5810;
    box-shadow: inset 1px 1px 2px black;
}

/*lista nao ordenada/links--->midias sociais*/
.bollnone {
    border-radius: 10px;
    width: 25%;
    background-color: #3a3a3ace;
    line-height: 2em;
    padding: 10px;
    color: #ffffff;
}

/*span(Redes Sociais)*/
.fontf {
    text-shadow: none;
    font-weight: bold;
    color: #d4d4d4;
}

#fontf2 {
    text-shadow: none;
    font-weight: bold;
    color: #292010;
}

/*decora link ao passar o mouse*/
li>a:hover {
    text-decoration: underline;
}

/*marca o link com outra cor se ja foi visitado*/
:visited {
    color: #f1f1f1;
}

#license {
    font-size: 15px;
    color: #221700;
    margin-top: 10px;
    font-weight: normal;
}

/*barra de rolagem*/
::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 6px;
    border: 1px solid #dda534;
}

::-webkit-scrollbar-thumb {
    background: #f4b41a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffcf31;
}